$text-color: #1f1408;

$button-color: #000;

$wrapper-background: rgb(249, 228, 255);

$form-background: #dfddba;

$placeholder-color: #74747a;

$font-big: 2rem;

$font-medium: 1.6rem;

$font-small: 0.9rem;

$h-padding: 1rem 2rem;

$border-radius: 0.25rem;

@mixin fieldset-border {
    border: 1px dotted $text-color;
    border-left: 1px solid $text-color;
    border-radius: $border-radius;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@mixin field {
    color: $text-color;
    font-size: $font-small;
}

@mixin label {
    margin-bottom: 0.5rem;
    width: 100%;
}

@mixin input {
    margin-top: 0.3rem;
    border: none;
    border-radius: $border-radius;
    padding: 0.5rem;
}

@mixin country {
    background-color: rgb(243, 243, 243);
    padding: 0.5rem;
    border: none;
    border-radius: $border-radius;
    margin-top: 0.3rem;
}

// desktop

@mixin flex-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

