@use './variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    background-color: $wrapper-background;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding: 0 2rem;
    background-color: $form-background;
    border-radius: 1rem;
}

fieldset {
    @include fieldset-border();
    @include flex-column();
    margin-bottom: 1.5rem;
}

h1, .container {
    margin: 0;
    padding: $h-padding;
    font-weight: bold;
}

h2 {
    padding: 1rem 0;
}

input, datalist {
    @include field();
    @include input();
}

label {
    @include flex-column();
    @include label();
}

.wrap-labels:first-of-type {
    margin-top: 1rem;
}

#submit {
    width: 100%;
    margin: 0 auto 1rem;
    background-color: white;
    color: $button-color;
}

.country {
    @include country();
}

@media screen and (min-width: 600px){

    .wrap-labels {
        @include flex-row();
        label {
            width: 49%;
        }
    }

    .wrapper {
        @include flex-column();
        align-items: center;
    }

    .container {
        width: 80%;
    }
        
}